<div>
  <div class="modal is-active">
    <div class="modal-background" (click)="onClickBackground()"></div>
    <div class="modal-content">
      <div class="card">
        <div class="modal-form">
          <label class="label">Files</label>
          <div class="file has-name">
            <label class="file-label">
              <form method="post" enctype="multipart/form-data">
                <input
                  class="file-input"
                  type="file"
                  name="torrents"
                  multiple
                  (change)="handleFilesInput($event)"
                />
              </form>
              <span class="file-cta">
                <span class="file-icon">
                  <i class="fas fa-upload"></i>
                </span>
                <span class="file-label">
                  Choose files ...
                </span>
              </span>
              <span class="file-name">
                {{ uploadedNotice }}
              </span>
            </label>
          </div>
          <p class="help is-danger" *ngIf="noFilesChosen">
            Please choose files
          </p>

          <div class="spacing"></div>

          <div class="field">
            <label class="label">Download location</label>
            <div class="control">
              <input
                class="input"
                [ngClass]="download_dir_error ? 'is-danger' : ''"
                type="text"
                placeholder="Path input"
                [(ngModel)]="download_dir"
              />
            </div>
            <p class="help is-danger" *ngIf="download_dir_error">
              This path is invalid
            </p>
          </div>

          <div class="spacing"></div>

          <div class="field">
            <div class="control">
              <label class="checkbox">
                <mat-checkbox [(ngModel)]="start_when_added"></mat-checkbox>
                Start when added
              </label>
            </div>
          </div>

          <div class="spacing"></div>

          <div class="field is-grouped">
            <div class="control">
              <button class="button is-link" (click)="upload()">Upload</button>
            </div>
            <div class="control">
              <button class="button is-link is-light" (click)="cancel()">
                Cancel
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button
      class="modal-close is-large"
      aria-label="close"
      (click)="onClose()"
    ></button>
  </div>
</div>
