<div>
  <div class="modal is-active">
    <div class="modal-background" (click)="onClickBackground()"></div>
    <div class="modal-content">
      <div class="card">
        <div class="modal-form">
          <div class="spacing"></div>
          <p>
            <font color="#E35757">
              {{ deleteNotice }}
            </font>
          </p>

          <div class="spacing"></div>

          <div class="field">
            <div class="control">
              <label class="checkbox">
                <mat-checkbox [(ngModel)]="delete_local_data"></mat-checkbox>
                Delete downloaded files from disk.
              </label>
            </div>
          </div>

          <div class="spacing"></div>

          <div class="field is-grouped">
            <div class="control">
              <button class="button is-link is-danger" (click)="delete()">
                Delete
              </button>
            </div>
            <div class="control">
              <button class="button is-link is-light" (click)="cancel()">
                Cancel
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button
      class="modal-close is-large"
      aria-label="close"
      (click)="onClickClose()"
    ></button>
  </div>
</div>
