<div class="tabs">
  <ul>
    <li
      [ngClass]="activeTab == 'details' ? 'is-active' : ''"
      (click)="onClickDetails()"
    >
      <a>Details</a>
    </li>
    <li
      [ngClass]="activeTab == 'peers' ? 'is-active' : ''"
      (click)="onClickPeers()"
    >
      <a>Peers</a>
    </li>
    <li
      [ngClass]="activeTab == 'trackers' ? 'is-active' : ''"
      (click)="onClickTrackers()"
    >
      <a>Trackers</a>
    </li>
    <li
      [ngClass]="activeTab == 'files' ? 'is-active' : ''"
      (click)="onClickFiles()"
    >
      <a>Files</a>
    </li>
  </ul>
</div>

<div class="flex-container">
  <a class="delete" (click)="onClickClose()"></a>
  &nbsp;&nbsp;
  <label class="label">Torrent {{ torrent.id }}</label>
</div>

<div class="spacing"></div>

<app-details *ngIf="activeTab == 'details'" [torrent]="torrent"></app-details>
<app-peers *ngIf="activeTab == 'peers'" [torrent]="torrent"></app-peers>
<app-trackers
  *ngIf="activeTab == 'trackers'"
  [torrent]="torrent"
></app-trackers>
<app-files *ngIf="activeTab == 'files'" [torrent]="torrent"></app-files>
