<div class="modal is-active">
  <div class="modal-background" (click)="onClickBackground()"></div>
  <div class="modal-content">
    <div class="card">
      <div class="modal-form">
        <div class="tabs">
          <ul>
            <li
              [ngClass]="activeTab == 'torrents' ? 'is-active' : ''"
              (click)="onClickTorrents()"
            >
              <a>Torrents</a>
            </li>
            <li
              [ngClass]="activeTab == 'speed' ? 'is-active' : ''"
              (click)="onClickSpeed()"
            >
              <a>Speed</a>
            </li>
            <li
              [ngClass]="activeTab == 'peers' ? 'is-active' : ''"
              (click)="onClickPeers()"
            >
              <a>Peers</a>
            </li>
            <li
              [ngClass]="activeTab == 'network' ? 'is-active' : ''"
              (click)="onClickNetwork()"
            >
              <a>Network</a>
            </li>
          </ul>
        </div>
        <app-setting-torrents
          *ngIf="activeTab == 'torrents'"
        ></app-setting-torrents>
        <app-setting-speed *ngIf="activeTab == 'speed'"></app-setting-speed>
        <app-setting-peers *ngIf="activeTab == 'peers'"></app-setting-peers>
        <app-setting-network
          *ngIf="activeTab == 'network'"
        ></app-setting-network>
      </div>
    </div>
  </div>
  <button
    class="modal-close is-large"
    aria-label="close"
    (click)="onClickClose()"
  ></button>
</div>
