<!--The content below is only a placeholder and can be replaced.-->
<div *ngIf="!isMobile" class="wrapper">
  <app-header></app-header>
  <div class="row-container flex-container col-12 spacing">
    <div *ngIf="isRPCBad">Please check your transmission-daemon service.</div>
  </div>
  <div class="tile is-ancestor">
    <div class="tile is-vertical is-parent">
      <div class="tile is-child">
        <app-list
          *ngIf="isRPCOK"
          [torrents]="torrents"
          [shortMode]="shortMode"
          (focus)="onFocus($event)"
        ></app-list>
      </div>
    </div>
    <div *ngIf="openInfo" class="tile is-6 is-parent">
      <div class="tile is-child">
        <app-info
          [torrent]="torrent"
          (closeInfo)="onCloseInfo($event)"
        ></app-info>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
