<!--The content below is only a placeholder and can be replaced.-->
<div *ngIf="!isMobile" class="wrapper">
  <app-header
    [globalStats]="globalStats"
    [filterName]="filterName"
    (action)="onFireAction($event)"
    (filter)="onFireFilter($event)"
  ></app-header>
  <app-actions
    [torrents]="torrents"
    [action]="action"
    (actionEnd)="onEndAction()"
  ></app-actions>
  <div class="row-container flex-container col-12 spacing">
    <div *ngIf="!isRPCOK">
      Please check your RPC configuration.<br /><br />{{ rpcErrMsg }}
    </div>
  </div>
  <div class="tile is-ancestor">
    <div class="tile is-vertical is-parent">
      <div class="tile is-child">
        <div class="unselectable">
          <app-list
            *ngIf="isRPCOK"
            [torrents]="torrents"
            [focusID]="focusID"
            [isCheckAll]="isCheckAll"
            [shortList]="shortList"
            (focus)="onFocus($event)"
            (check)="onCheck($event)"
            (checkAll)="onCheckAll($event)"
          ></app-list>
        </div>
      </div>
    </div>
    <div *ngIf="openInfo" class="tile is-6 is-parent">
      <div class="tile is-child">
        <app-info
          [torrents]="torrents"
          [focusID]="focusID"
          (closeInfo)="onCloseInfo($event)"
        ></app-info>
      </div>
    </div>
  </div>
</div>

<div *ngIf="isMobile" class="wrapper">
  <app-header
    [globalStats]="globalStats"
    (action)="onFireAction($event)"
    [openMenu]="openMenu"
    (click)="onOpenMenu()"
  ></app-header>
  <app-actions
    [torrents]="torrents"
    [action]="action"
    (actionEnd)="onEndAction()"
  ></app-actions>
  <div class="row-container flex-container col-12 spacing">
    <div *ngIf="!isRPCOK">Please check your transmission-daemon service.</div>
  </div>
  <div class="tile is-ancestor">
    <div class="tile is-vertical is-parent">
      <div class="tile is-child">
        <div class="unselectable">
          <app-list
            *ngIf="isRPCOK && focusID == null"
            [torrents]="torrents"
            [focusID]="focusID"
            [isCheckAll]="isCheckAll"
            [shortList]="shortList"
            (focus)="onFocus($event)"
            (check)="onCheck($event)"
            (checkAll)="onCheckAll($event)"
          ></app-list>
        </div>
      </div>
    </div>
    <div *ngIf="openInfo" class="tile is-6 is-parent">
      <div class="tile is-child">
        <app-info
          [torrents]="torrents"
          [focusID]="focusID"
          (closeInfo)="onCloseInfo($event)"
        ></app-info>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
