<div class="container is-fluid">
  <table class="table is-hoverable is-fullwidth">
    <thead>
      <tr>
        <th>
          <mat-checkbox
            [(ngModel)]="checkedAll"
            (click)="checkAll()"
          ></mat-checkbox>
        </th>
        <th>ID</th>
        <th>Name</th>
        <th>Status</th>
        <th>Download</th>
        <th>Upload</th>
        <th>Ratio</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let el of torrents" (click)="clickTorrent(el)">
        <td>
          <mat-checkbox [(ngModel)]="el.checked"></mat-checkbox>
        </td>
        <td>{{ el.id }}</td>
        <td>{{ el.name }}</td>
        <td>{{ el.status }}</td>
        <td>{{ el.downloadedEver }}</td>
        <td>{{ el.uploadedEver }}</td>
        <td>{{ el.uploadRatio }}</td>
        <td>17</td>
      </tr>
    </tbody>
  </table>
</div>
